<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("МІС", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (int.Parse(User.Identity.Name) >= 1000)
                            {
                                @Html.ActionLink("Сторінка паціента", "Index", "WindowPacient", new { area = "" }, new { @class = "nav-link" })
                            }
                            else
                            {
                                @Html.ActionLink("Сторінка лікаря", "Index", "WindowDoctor", new { area = "" }, new { @class = "nav-link" })

                            }
                        }
                    </li>
                    <li class="nav-item">@Html.ActionLink("Інформація", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Контакти", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (int.Parse(User.Identity.Name) == 0)
                        {
                            <li class="nav-item">@Html.ActionLink("Пацієнти", "Index", "Pacient", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Лікарі", "Index", "Doctor", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
