@model WEB_UI.Models.Pacient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детальніше</h2>

<div>
    <h4>Пацієнти</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Card.Card_number)
          
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Card_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sourname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sourname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card.Start_data)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Card.Start_data)

        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Перейти на редагування", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "Index")
</p>
