@model WEB_UI.Models.Pacient
@{
    Layout = null;
}

<p class="lead">Паціент: @Model.Sourname @Model.Name @Model.Patronymic</p>
<p class="lead">Адреса: @Model.Adress</p>
<p class="lead">№ картки: @Model.Card_number</p>
